html {
  height: 100%;
}

body {
  background-image: url('/background/background-image-5.jpg');
  background-size: cover;
  background-position: center 10%;
  background-attachment: fixed;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 40%;
  margin-right: 1rem;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 1); 
}

.header-title {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

.nav-button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: green; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.2); 
}

.logout-button:hover {
  background-color: black;
  color: white; 
}

.new-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.content-box {
  text-align: center;
}

.page-title {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Regular', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2rem;
  }
}

.ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #CCD5AE;
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.ai-textarea {
  width: 100%;
  margin-bottom: 10px;
}

.ai-button {
  background-color: #7C5BEA;
  width: 200px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.ai-button:hover {
  transform: scale(1.2); 
}

.ai-div {
  margin-top: 20px;
  background-color: #F2E8C6;
  padding: 1.5rem;
  border-radius: 20px;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 650px;
}


.ai-title {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Regular', sans-serif;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  padding-bottom: 5px;
  margin-bottom: 0.5rem;
}

.ai-h2 {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Regular', sans-serif;
  text-align: center;
  font-size: 1.8rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.ai-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.ai-steps {
  padding-left: 1rem;
}

.ai-steps li {
  margin-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Regular', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.ingredient-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #CCD5AE;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.upload-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-text {
  margin-top: 8px;
}

.ingredient-space {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit-button-container:hover {
  transform: scale(1.2);
}

.ant-form-item-label {
  text-align: left;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input,
textarea {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
}

button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  padding: 20px;
}

.login-signup-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 30px;
}

.login-signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-signup-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.login-signup-form {
  width: 100%;
}

.form-input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #40a9ff;
}


/* Carousel
     ========================================================================== */
/*

/* Customize the left arrow */
.slick-prev {
  left: -2rem !important; /* Adjust position */
  color: #000 !important; /* Change arrow color */
}

/* Customize the right arrow */
.slick-next {
  right: -2rem !important; /* Adjust position */
  color: #000 !important; /* Change arrow color */
}
